@import url("images.css");
@import url("grid.css");
@import url("menu.css");

body {
  font-family: Fjalla One,Roboto, Arial, sans-serif; /*the typ font*/
  font-size: medium;
  text-align: justify;
  font-weight: 500;
  line-height: 1.8em;
}
h1, h2, h3 {
  color: #2C101E;
}
h1.emp {
  color: #ffffff;
}
h2.emp {
  color: #ffffff;
}
h4,h5,h6 {
  color: #ffffff;
}
h4.emp 
{
  color: #000000;
}

h6.emp 
{
  color: #000000;
}
h1 {
  font-size: 150%;
}
h2 {
  font-size: 130%;
}
p.emp {
  color: #ffffff;
}
p {
  color: #2C101E;
}






